@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



body {
  margin: 0;
  box-sizing: border-box;
  background-color: #E6D4B8;
  font-family: 'Garamond', 'Cambria', serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1F3659
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #1F3659;
  color: #1F3659
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.about-me-text h2 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  margin: 10px 0;
}
